body {
    background-color: #222120;
}

h1 {
    font-family: monospace;
    font-size: 4em;
    color: red;
    margin: 20px;
}

section {
    display: flex;
    overflow-x: scroll ;
}

img {
    width: 300px;
}

img.click {
    filter: blur(1px);
}

img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s ;
}

article {
    margin: 20px ;
    top: 450px;
    left: 35px;
}

div {
    display: none ;
}

div.show {
    display: block;
}

h2 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    color: white;
}
