body {
    background-color: #222120 ;
}

h1 {
    font-family: monospace ;
    font-size: 4em ;
    color: red ;
    margin: 20px ;
}

section:first-of-type {
    display: flex ;
}

img {
    width: 200px ;
    margin-top: 30px ;
    margin-left: 30px ;
}

img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s ;   
}

article {
    margin-left: 20px ;
}

h2 {
    font-family: sans-serif ;
}

p {
    font-family: sans-serif ;
    color: white ;
}