body {
    background-color: #222120;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    font-family: monospace;
    font-size: 4em;
    color: red;
    margin-top: 20px;
    margin-left: 60px;
}

header {
    display: flex;
    width: 100%;
}

span {
    z-index: 999;
    background-color: #222120;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

/*Hiermee verdwijnt het laadscherm weer. Ik voeg deze class toe met javascript.*/
span.hallo {
    display: none;
}

span p {
    position: absolute;
    top: 60%;
    left: 41%;
    text-align: center;
}

#loader {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 250px;
    height: 140px;
}

/*Dit zijn de grid en slider iconen. Dit zijn svg's die ik met deze code een kleur geef.*/
.colorfill {
    width: 40px;
    height: auto;
    margin-left: 20px;
    filter: invert(0%) sepia(34%) saturate(0%) hue-rotate(193deg) brightness(86%) contrast(104%);
}

/*Wanneer er op een svg wordt gedrukt wordt de kleur anders*/
.colorfill.active {
    filter: invert(99%) sepia(3%) saturate(338%) hue-rotate(171deg) brightness(116%) contrast(100%);
}

header img:first-of-type {
    margin-left: 1000px;
}

#tutorial {
    margin-left: 60px ;
}

#tutorial2 {
    position: absolute;
    left: 590px ;
    bottom: 90px ;
}

section {
    width: 95%;
}

ul {
    list-style-type: none;
    display: flex;
    overflow-x: scroll;
}

/*Met deze code verander ik de layout van een slider naar een grid door middel van flex wrap.*/
ul.switch {
    flex-wrap: wrap;
    width: 1000px;
}

li {
    margin-left: 20px;
}

/*Dit is de witte balk die boven een film komt te staan wanneer hij wordt gefocust.*/
li:focus {
    border-top: 3px solid whitesmoke ;
    outline: none ;
    
}

img {
    height: 400px;
    width: 260px;
}

/*Wanneer de film vervolgens is geselecteerd wordt deze class toegevoegd.*/
section img.show {
    border: solid 3px whitesmoke;
}

img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

article {
    margin: 20px;
}

/*Dit is de detailpagina van een film die in eerste instantie hidden staat. Door het later toevoegen van een class wordt hij weer zichtbaar. Door de transition wordt deze animatie wat vloeiender.*/
div {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-out;
    background-color: dimgrey;
    border-radius: 0 0 15px 15px;
    padding: 5px 15px;
    margin-top: 35px;
    position: relative;
    width: 230px;
}

/*Hiermee zorg ik ervoor dat de details zichtbaar worden.*/
div.show {
    visibility: visible;
    opacity: 1;
    display: block;
}

h2 {
    font-family: sans-serif;
    width: 220px;
}

p {
    font-family: sans-serif;
    color: white;
    width: 220px;
}
