body {
    background-color: #222120;
}

h1 {
    font-family: monospace;
    font-size: 4em;
    color: red;
    margin: 20px;
}

header {
    display: flex ;
}

header img {
    width: 50px ;
    margin-left: 10px ;
}

.colorfill {
    filter: invert(99%) sepia(3%) saturate(338%) hue-rotate(171deg) brightness(116%) contrast(100%);
}

section {
    display: flex ;
    overflow: scroll ;
}

img {
    height: 400px;
}

img.show {
    border: solid 3px white ;
}

img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s ;
}

article {
    margin: 20px ;
}

div {
    visibility: hidden ;
    opacity: 0 ;
    transition: visibility 0s, opacity 0.3s ease-out;
    background-color: dimgrey ;
    border-radius: 0 0 15px 15px ;
    padding: 5px 15px ;
    margin-top: 15px ;
}

div.show {
    visibility: visible ;
    opacity: 1 ;
    display: block;
}

h2 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    color: white;
}
