body {
    background-color: #241f1f;
}

h1 {
    font-family: sans-serif;
    font-size: 3em;
    color: white;
    width: 43% ;
    margin: 50px auto ;
}

.draggable {
    font-family: sans-serif ;
    width: 600px;
    height: 20px;
    text-align: center;
    background-color: white;
        border-radius: 25px ;
}

.dropzone {
    width: 600px;
    height: 20px;
    background-color: darkgrey ;
    margin: 0 auto 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px ;
}
